
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  padding: 0;
  margin: 0;
  font-family:'Raleway', sans-serif; 
  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
svg{
  display:inline;
}
button{
  outline:none;
  background: none;
  border: none;
  cursor: pointer;
}
.custom_container{
  display: flex;
  width: 50vw;
  background-color: #596161;
  position: absolute;
  right: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family:'Raleway', sans-serif; ;
}
.customizer{
  width:38rem ;
  min-height: fit-content;
  height: fit-content;
  background-color: azure;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:0
}
.model_picker{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding:0
}
.model_picker button{
  width: 50%;
  /* border-bottom: rgb(206, 205, 205) 1px solid; */
  /* padding-bottom: 0.25rem; */
  height: 100%;
  outline:none;
  background: none;
  border: none;
}
.model_picker svg{
  font-size: 22px;
  border-right:none
}
/* .model_picker :nth-child(1){
  border-right: rgb(206, 205, 205) 1px solid;
} */
.size_picker{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding:0
}
.size_picker button{
  width: 25%;
  height: 100%;
}

.color_picker{
  padding:1rem;
 
}
.color_picker span{
  font-weight: bold;
}
.f_print,.b_print{
  padding:1rem;
  display: flex;
  width: 100%;
  flex-direction:column;
}
.f_print label,span,.b_print label ,span{
  font-weight: bold;
  cursor:pointer;
  
}
.f_print svg,.b_print svg{
  margin: 0;
  font-size: 22px;
}
.PrintSizeEditor{
  width: 40%;
  margin: 0;
}
.printEditorContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.PrintPositionEditor{
  height: 100%;
  width: 40%;
  position: relative;
}

#up_arrow{
  transform: translateX(38px);
}
#left_arrow{
  transform: translateX(16px);
}
#right_arrow{
  transform: translateX(28px);
}
#down_arrow{
  transform: translateX(38px);
}
.texture_selector label{
font-weight: bold;

}
.texture_selector {
font-weight: bold;
padding: 1rem;
height: 2rem;
display: flex;
align-items: center;
}
.customizer_actions{
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
}
.customizer_actions button{
  height: 2rem;
  width: 100%;
  margin-top: 0.5rem;
  border-radius: .25rem;
  /* border: 1px solid rgb(153, 153, 153); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customizer_actions svg{
  margin-right: 5px;
}

.customizer_actions :nth-child(1){
  background-color: #ff4444;
  font-weight: bold;
}
.customizer_actions :nth-child(2){
  background-color: #6db93a;
  font-weight: bold;
}
.customizer_actions :nth-child(2) svg{
  background-color: #6db93a;
  font-weight: bold;
  vertical-align: bottom
}
.header{
  height: 3.5rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #319795;
  z-index: 5;
}
.logoContainer{
  width: 25%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.logoContainer img{
  width: 42px;
}
.headerSteps{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerActions{
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding:1rem
}
.headerActions button{
  margin: 1rem;
}
.cartBtn svg{
  font-size: 24px;
}
.cart{
  width: 30%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(184, 183, 183);
}
.backDrop{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  /* background-color: rgba(136, 136, 136, 0.466); */
  backdrop-filter: blur(6px);
  height: 100vh;
  width: 100vw;
}
.cartActions{
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  padding:2rem
}
.cartActions svg{
  font-size: 24px;
}
.cartActions h1{
  font-size: 2rem;
}
.cartItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 4rem;
  padding:0.5rem;
  align-items: center;
  position: relative;
}
.cartItem img{
  height:42px;
  width:42px;
  margin-right: 1rem;
}
.delete_CI{
  position: absolute;
  top:1rem;
  right: 1rem;
}
.delete_CI svg{
  font-size: 24px;
}
.itemList{
  overflow-y: auto;
  height: 70%;
}
.cartTotal{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 8rem;
  padding: 1rem;
}
.cartTotal span{
  font-size: 2rem;
  font-weight: normal;
}
.cartTotal button{
width: 95%;
background-color: darkslateblue;
height: 4rem;
border-radius: 0.5rem;
}
#register{
  width: 90%
}
.input_form{
  width: 100%;
  height: 2.5rem;
  border: #CBD5E0 0.5px solid;
  border-radius: 0.375rem;
  outline: none;
  padding-inline-start: 1rem;
 
  outline: transparent solid 2px;
  outline-offset: 2px;
}
.input_form:focus{
  border: 2px #4299e199 solid;
}
form label{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 2rem;
}
.register_card{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 35rem;
  width: 60rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
  background-color: white;
  border-radius: 0.375rem;
}
.login_card{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 22rem;
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
  background-color: white;
  border-radius: 0.375rem;
}
/* #login_form button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;
  font-weight: 600;
   height: 2.5rem;
  width: 100%;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #319795;
  color: white;
  margin-top: 2rem;
  
} */

label{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-inline-end: 0.75rem;
  display: block;
  text-align: start;
  
}

#Address{
  width: 60%;
}
#region_select{
  padding-inline-end: 2rem;
  width: 20%;
  min-width: 0px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  border: 1px #CBD5E0 solid;
  height: 2.5rem;
  border-radius: 0.375rem;
  margin-left: 2rem;
  padding-inline-start: 1rem;
}
.center_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #E4E7EB;
	background-size: 400% 400%;
	
	height: 100vh;
}


.checkout_cart_info{
  width: 50%;
  position: absolute;
  top: 10rem;
  right: 0;
}
.checkout_user_info{
  width: 50%;
  position: absolute;
  top: 10rem;
  left: 0;
}
.admin_main_container{
margin-top: 3rem;
padding: 1rem;
}
.admin_header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 3rem;
  background-color: rgb(20, 108, 196);
}
.admin_chart{
  width: 60vw;
  margin-left: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 2rem;
}
.form_error{
  font-size: 14px;
  color: rgb(255, 94, 94);
  margin-top: 0.25rem;
  font-weight: 600;
}
.login_bottom_action{
  font-size: 12px;
  margin-top: 1rem;
}
.login_bottom_action a{
  color: #319795;
}
.login_btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;
  font-weight: 600;
  height: 2.5rem;
  width: 100%;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #319795;
  color: white;
  margin-top: 2rem;
}
#redirect_link a{
  color:#319795
}